// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(40);
		padding-top: rem-calc(40);
		padding-left: rem-calc(60);
		background-color: $black;
	}
}

footer.row {
	max-width: none;
}

#nav_menu-2, #nav_menu-3, #text-2 {
	h6 {
		color: $white;
		text-transform: uppercase;
		font-size: rem-calc(18);
		font-weight: 800;
	}
	@media #{$medium-up} {
		width: 33%;
		height: 400px;

	}
}

footer ul {
	margin-left: 0;

}

footer li {
		list-style-type: none;
}

footer a {
	color: $white;
	font-size: rem-calc(13);
	&:hover {
		color: $white;
		border-bottom: 1px solid $white;
	}
}

.textwidget {
	h3 {
		color: $white;
		font-size: rem-calc(16);
	}
	img {
		width: 40%;
		padding-bottom: .5em;
	}
}