// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(40);
		padding-top: rem-calc(40);
		padding-left: rem-calc(60);
	}
}

footer.row {
	max-width: none;
	background-color: $black;
	@media #{$medium-only} {
		height: 400px;
	}
	@media #{$small-only} {
			display: none;
		}
	
}

#nav_menu-2, #nav_menu-3, #text-2 {
	@media #{$large-only} {
		height: 230px;

	}
	@media #{$medium-only} {
		height: 400px;
		width: 33%;

	}
	@media #{$small-only} {
		height: 200px;
		text-align: center;
	}
	@media #{$portrait} { 
	 	height: 200px;
	}

	h6 {
		color: $white;
		text-transform: uppercase;
		font-size: rem-calc(18);
		font-weight: 800;

		@media #{$small-only} {
		background-color: $white;
		color: $black;
		font-weight: 300;
		box-shadow: 0 5px $aluminum;
	}

	}
}

#nav_menu-2 {
	@media #{$small-only} {
		height: 200px;
		margin-top: -90px;
	}
	
}

#nav_menu-3 {
	@media #{$small-only} {
		height: 200px;
		margin-top: -40px;
	}
}

footer ul {
	margin-left: 0;

}

footer li {
		list-style-type: none;
}

footer a {
	color: $white;
	font-size: rem-calc(13);
	&:hover {
		color: $white;
		border-bottom: 1px solid $white;
	}
	@media #{$small-only} {
		font-size: rem-calc(16);

	}
}

.textwidget {
	h3 {
		color: $white;
		font-size: 0.8125rem;
		margin-top: -3.5em;
		margin-bottom: 4em;
		margin-left: 8em;
		@media #{$medium-only} {
		margin-top: -2em;
		margin-bottom: 2.5em;
		}
	}

	p {
		font-size: 0.8125rem;
		margin-left: 0em;
    margin-bottom: .4em;
	}
	img {
		width: 22%;
		float: left;
		margin-right: 18px;
		@media #{$small-only} {
			display: none;
		}
	}
}

.footer-contact {
	float: right;
	padding-right: 7.5em;
	@media #{$medium-only} {
		padding-right: 2.2em;
	}
	@media #{$portrait} {
		padding-right: 0em;
	}
}

.info-title {
	margin-left: 6em;
	margin-top: -1em;
	@media #{$portrait} { 
	 	margin-bottom: 2em;
	 	margin-left: 3em;
	 }
}



