.register-form {
	display: none;
	background-color: $white;
	margin-left: 84px;
  margin-top: -23px;
  margin-right: -17px;
	padding-top: 1.25rem;
	padding-bottom: 0px;
	padding-right: 1.25rem;
	padding-left: 1.25rem; 
	font-family: $font-family-sans-serif;
	@media #{$medium-only} {
    margin-left: 33px;
    margin-right: 28px;
  }
  @media #{$portrait} {
  	margin-left: -3px;
  	margin-right: 0px;
  }

	p {
		font-size: rem-calc(14);
	}

}

.terms-text {
		font-size: .9em;
		padding-right: .2rem;
}



input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-required.wpcf7-validates-as-tel {
	border-radius: 5px;
}

input.wpcf7-form-control.wpcf7-submit.button.expand.send-button {
	letter-spacing: 0.0825em;
	box-shadow: 0 3px #2c3e50;
	background-color: $black;
	border-radius: 5px;

	&:hover {
		background-color: $aluminum;
		color: white;
	}

}

input.wpcf7-form-control.wpcf7-submit.button.expand.send-button-contact {
	letter-spacing: 0.0825em;
	box-shadow: 0 3px $black;
	background-color: $aluminum;
	border-radius: 5px;
	width: 100%;

	&:hover {
		background-color: #FEEE00;
		color: $black;
	}

	&:active {
		background-color: #FEEE00;
		color: $black;
	}

	&:focus {
		background-color: #FEEE00;
		color: $black;
	}

	&:visited {
		background-color: #FEEE00;
		color: $black;
	}

}

input.wpcf7-form-control.wpcf7-text.border-form-contact {
	border-radius: 5px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	border-radius: 5px;
}

select.wpcf7-form-control.wpcf7-select.group-number {
	border-radius: 5px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email.borders-form-contact {
	border-radius: 5px;
}

textarea.wpcf7-form-control.wpcf7-textarea.borders-form-contact {
	border-radius: 5px;

}

span.wpcf7-not-valid-tip {
	font-size: .7rem;
	color: #e74c3c;
	margin-top: -1rem;
}

.wpcf7 img.ajax-loader {
	display: none;
}


div.wpcf7-response-output {
	margin-top: 0;
}

div.wpcf7-validation-errors {
	border: none;
	font-size: .8rem;
	color: #e67e22;
	margin-top: -1rem;
}

div.wpcf7-mail-sent-ok {
	border: none;
	font-size: .8rem;
	color: #27ae60;
	margin-top: -1rem;
	padding-left: 5em;
}


