.grid-row {
	$behavior: nest;

			@include block-grid (
			$per-row: true,
	  	$spacing: $block-grid-default-spacing,
	  	$include-spacing: true,
	  	$base-style: false);

			@mixin block-grid-html-classes($size, $include-spacing){
				@media #{$small-up} {
				@include block-grid-html-classes(
					$size: small,
					$include-spacing:true)
			}

			@media #{$medium-up} {
				@include block-grid-html-classes($size:medium, $include-spacing:false);
			}

			@media #{$large-up} {
				@include block-grid-html-classes($size:large, $include-spacing:false);
			}


			@media #{$xlarge-up} {
				@include block-grid-html-classes($size:xlarge, $include-spacing:false);
			}


			@media #{$xxlarge-up} { }

	}
}

.grid-row {
	&:last-child {
	float: left !important;
	overflow: auto;
	}
}

.tag-label {
	font-style: italic;
}

.border-img-card {
	border-radius: 13px;
}

.card-title {
	font-size: 1.5em;
	text-transform: uppercase;
	a {
		color: $tuatara;
	}
}

.excerpt-content {
	color: $tuatara;
	p {
		font-size: .9rem;
	}
}

.full-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 13px;
	border: 1px solid #eee;
	margin: 0 0.375rem;
	margin-bottom: 0.375rem;
	height: 33em;
	padding-left: .9em;
  padding-right: .9em;
}
