.fw-col-xs-12.fw-col-sm-6 {
	padding-left: 0px;
	@media #{$portrait} {
		width: 100%;
	}
}

.fw-col-xs-12.fw-col-sm-8 {
	padding-left: 0px;
	@media #{$portrait} {
		width: 100%;
	}
}

.fw-col-xs-12.fw-col-sm-9 {
	padding-left: 0px;
	@media #{$portrait} {
		width: 100%;
	}
}

.fw-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.leyend-item {
		margin-left: rem-calc(60);
		@media #{$small-only} {
    margin-left: 0em ;
    }
}

.leyend-title {
	margin-bottom: rem-calc(18);
	a {
		color: $aluminum;
		&:hover {
		color: $corporate-main;
		}
	}
}

h1.entry-title {
		text-transform: uppercase;
		
}

.entry-title-sidebar{
	text-transform: uppercase;
	padding-left: 

}
.content {
	content: '';
	margin-top: .18em;
	height: 17px;
	width: 35px;
	float: left;
	.cortes {
		background-color: #A58755;
	}
	.embajadores {
		background-color:  #DC9C38;
	}
	.justicia {
		background-color: #6E8246;
	}

}

.district-text {
		padding-left: 3.4em;
		font-size: rem-calc(14);
}

article#text-4 {
	@media #{$medium-only} {
		margin-left: -51px;
	}
}

#text-4 {
	h6 {
		margin-left: rem-calc(60);
		font-weight: 800;

		@media #{$small-only} {
    margin-left: 0rem ;
    margin-top: 0rem;
    }
	}
}

