.leyend-item {
		margin-left: rem-calc(60);
}

.leyend-title {
	margin-bottom: rem-calc(18);
	a {
		color: $aluminum;
		&:hover {
		color: $black;
		}
	}
}

.content {
	content: '';
	margin-top: .18em;
	height: 17px;
	width: 35px;
	float: left;
	.cortes {
		background-color: #A58755;
	}
	.embajadores {
		background-color:  #DC9C38;
	}
	.justicia {
		background-color: #6E8246;
	}

}

.district-text {
		padding-left: 3.4em;
		font-size: rem-calc(14);
}

#text-4 {
	h6 {
		margin-left: rem-calc(60);
		margin-top: rem-calc(60);
		font-weight: 800;
	}
}