.featured-image {
	height: 250px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  position: relative;
}

.stage-info {
  width: 100%;
}

.stage-date { 
  color: $white;
  font-size: 2em;
  position: absolute;
  right: 10%;
  bottom: 5%;

}