.entry-title {
	font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
}


.featured-image {
	height: 250px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  position: relative;
}

.stage-info {
  width: 100%;
  margin-top: 1.2em;
}

.stage-date {
  color: $white;
  font-size: 2em;
  position: absolute;
  right: 10%;
  bottom: 5%;

}

table tr th {
	font-family: $header-font-family;
	background-color: white;
}



.content-field {
	&.universidad {
		border-bottom: 2px solid #BF69A0;
		background: none;
	}

	&.palacio {
		border-bottom: 2px solid #C7533D;
		background: none;
	}

	&.sol {
		border-bottom: 2px solid #A2CEEF;
		background: none;

	}

	&.cortes {
		border-bottom: 2px solid #A58755;
		background: none;
	}

	&.embajadores {
		border-bottom: 2px solid #DC9C38;
		background: none;
	}

	&.justicia {
		border-bottom: 2px solid #6E8246;
	}
}


	




