.reset-padding-left {
	padding-left: 0;
}

.reset-table-padding{
	padding-right: 3em;
	padding-left: 4em;
} 

.entry-title {
	font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
}


.featured-image {
	height: 250px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
  position: relative;
}

.stage-info {
  width: 100%;
  margin-top: 1.2em;
}

.stage-date {
  color: $white;
  font-size: 2em;
  position: absolute;
  right: 10%;
  bottom: 5%;

}

table {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

table tr th {
	font-family: $header-font-family;
	background-color: white;
}

table tbody tr td,
table tr td {
	padding-top: 0rem;
	font-weight: 200;
}



.content-field {
	&.universidad {
		border-bottom: 2px ridge #BF69A0;
		background: none;
		td:last-child {
			border-bottom: none;
		}
	}


	&.palacio {
		border-bottom: 2px ridge #C7533D;
		background: none;
	}

	&.sol {
		border-bottom: 2px ridge #A2CEEF;
		background: none;

	}

	&.cortes {
		border-bottom: 2px ridge #A58755;
		background: none;
	}

	&.embajadores {
		border-bottom: 2px ridge #DC9C38;
		background: none;
	}

	&.justicia {
		border-bottom: 2px ridge #6E8246;
	}
}


	




